@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1>Operaciones</h1>
    <h2>@ViewData["nom"]</h2>
    <h2>@ViewData["ape"]</h2>
</body>
</html>