@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1>Operaciones 5</h1>
    <h2>@ViewData["n1"]</h2>
    <h2>@ViewData["n2"]</h2>
    <h2>@ViewData["n3"]</h2>
    <h2>@ViewData["n4"]</h2>
</body>
</html>