# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

##other
#node_modules/
#bower_components/
.tmp
#.sass-cache
#builds/**/images/*
#*.ogg
#*.mp3
#*.mp4
#*.png
#*.jpeg
*.psd

.vscode
/POO_II/CLASES/Sem3/ClaseJueves/POO2_S3_S1_1/nbproject/private/
/POO_II/CLASES/Sem3/ClaseJueves/POO2_S3_S1_1/build/
/DBP/Clase/Sem4/DBP_SEM4/target/
/DBP/Clase/Sem4/CasoFormSemana4/target/
/DBP/Clase/Sem4/E1/nbproject/private/
/POO_II/GUIAS/Guia_4/E1/nbproject/private/
/POO_II/GUIAS/Guia_4/E1/build/
/POO_II/GUIAS/Guia_4/E2/nbproject/private/
/POO_II/GUIAS/Guia_4/E2/build/
/DBP/Practicas/PC1/DBP_Ejemplo1/target/
/POO_II/CLASES/Sem5/S5_S1_Ejercicios/nbproject/private/
/POO_II/CLASES/Sem5/S5_S1_Ejercicios/build/
/POO_II/CLASES/Sem5/EjCalc/nbproject/private/
/POO_II/CLASES/Sem5/EjCalc/build/
/POO_II/PC1/E1_PC1_POO2/nbproject/private/
/POO_II/PC1/e2_pc2_poo2/nbproject/private/
/POO_II/PC1/e2_pc2_poo2/build/
/POO_II/PC1/POO2_P1_TocheJacqueline_1/POO2_P1_TocheJacqueline_1/build/
/POO_II/PC1/POO2_P1_TocheJacqueline_1/POO2_P1_TocheJacqueline_1/nbproject/private/
/POO_II/CLASES/Sem6/EjmploConexion/target/
/POO_II/CLASES/Sem6/EjemploSem6/target/
/POO_II/CLASES/Sem6/casoClasev2/target/
/POO_II/CLASES/Sem6/tomcatPrueba/target/
/POO_II/CLASES/Sem6/ClaseListas/nbproject/private/
/POO_II/CLASES/Sem6/ClaseListas/build/
/POO_II/CLASES/Guia/E1/nbproject/private/
/POO_II/GUIAS/Guia_4/EjercicioTaxi/nbproject/private/
/POO_II/GUIAS/Guia_4/EjercicioTaxi/build/
/POO_II/GUIAS/Guia_5/Ejercicio1/nbproject/private/
/POO_II/GUIAS/Guia_5/practica/target/
/POO_II/GUIAS/Guia_6/E1/nbproject/private/
/POO_II/GUIAS/Guia_6/E1/build/
/POO_II/CLASES/Sem8/S8_S1_Files/nbproject/private/
/POO_II/CLASES/Sem8/S8_S1_Files/build/
/POO_II/PRACTICAS/PRACTICA2/POO2_P2_PajueloAraujoArnold_01/nbproject/private/
/POO_II/PRACTICAS/PRACTICA2/POO2_P2_PajueloAraujoArnold_01/build/
/POO_II/PRACTICAS/PRACTICA2/POO2_P1_PajueloAraujoArnold_2/nbproject/private/
/POO_II/PRACTICAS/PRACTICA2/POO2_P1_PajueloAraujoArnold_2/build/
/POO_II/CLASES/Sem9/EjercicioArchivos/nbproject/private/
/POO_II/CLASES/Sem9/EjercicioArchivos/build/
/POO_II/CLASES/Sem9/EjercicioProductos/nbproject/private/
/POO_II/CLASES/Sem11/EjercicioPc3/build/
