body
{
    background-color:rgb(198, 255, 236);
}
h1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
}
.grupo
{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 350px;
}