*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para considerar toda la caja como un solo elemento */ 
}

body{
    background-image: linear-gradient(to top left, #23415a, blue);
    background-repeat: no-repeat;
    height: 200vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    width: 40%;
    margin: 60px auto; /* developer.mozilla.org/es/docs/Web/Padding */
    background: #ffffff;
    height: 700px;
    border-radius: 10px;
    padding: 60px 0;
    text-align: center;
    overflow: hidden;
}

input{
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    padding: 10px 0 ;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: #23415a;
}

input[type="submit"]{
    background-image: linear-gradient(to top left, #23415a, blue);
    border-radius: 10px;
    color: #ffffff;
}

textarea{
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18px;    
    color: #23415a;
}

@media screen and(max-width: 950px){
    form{
        width: 45%;

    }
}

@media screen and(max-width: 550px){
    form{
        width: 70%;
        
    }
}

@media screen and(max-width: 350px){
    form{
        width: 90%;
        
    }
}